 #map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}




/* autodcr */


#search_type {
  position: absolute;
  top: 20px;
  left: 20%;
  transform: translateX(-50%);
  z-index: 999;
  width: 190px;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  border: 2px solid #3c3cb8;
  background-color: #fff;
}

.header h5 {
  color: black;
  font-weight: bold;
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 6%;
}


.multi-checkboxes_wrap[aria-selected="true"]:before {
  content: "\f14a";
}

.form-control {
  height: 30px;
  padding: auto;
}

.accordion-button {
  height: 30px;
  font-size: 12px;
}

.form-select {
  justify-content: center;
  margin-left: -35px;
}

.accordion-body .form-control {
  margin-left: -35px;
}

.accordion-button:hover {
  background-color: #bbb;
}
.bg-transparent {
  background-color: transparent !important;
}


/* for button map start */
.custom-button {
  position: absolute;
  bottom: -80px;
  right: 80px;
  z-index: 1000; /* Ensure the button is above other map elements */
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid green;
}

.custom-button button {
  background-color:green;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
 
}

.custom-button:hover, .custom-button button:hover {
  background-color: green;
  color: #f2f2f2;
}

/* for button map start */


/* Upload button style */
.custom-button1 {
  position: absolute;
  top: 1.4%;
  left: 89%;
  z-index: 1000;
  background-color: white;
  border: 2px solid #3c3cb8;
  border-radius: 5px;
  font-size:25px;
  color: #3c3cb8;
  padding: 3px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coordimg img {
  position: absolute;
  top: 1.4%;
  left:85%;
  z-index: 1000;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 2px solid #3c3cb8;
  border-radius: 5px;
  font-size:25px;
  color: #3c3cb8;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#toggleFormBtn{
  border: none
 
}


.custom-buttoncsv {
  position: absolute;
  top:1.4%;
  left: 77%;
  z-index: 1000;
  background-color: white;
  border: 2px solid #3c3cb8;
  /* border: none; */
  border-radius: 5px;
  padding: 8px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.form-modal {
  width: 400px;
  position: fixed;
  top: 10%;
  left: 63%;
  /* transform: translate(-50%, -50%); */
  transition: 0s;
  background-color: white;
  padding: 18px 5px;
  border: 2px solid #3c3cb8;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.close-btn {
  position: absolute;
  top: 0.2%;
  right: -0.05%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.xicon{
  font-size: 15px; 
  color: #141414d3;
  top: 3%;
  position: absolute;
  left: -30%
}
.xicon:hover{
  color: #f44336;
}

.subbtn{
  margin-top: 10px;
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 10PX;
}
.addbtn{
  background-color: white;
  border: 2px solid#3c3cb8;
  border-radius: 5px;
  font-weight: bold;
  color: #171717cf;
  padding: 5px;
  font-size: 10PX;
}


.coordinate-input {
  width: 100%; /* Example width */
  padding: 10px 20px; /* Example padding */
  font-size: 10px;
  border: 2px solid #3c3cb8; /* Example border */
  border-radius: 4px; /* Example border radius */
  margin-right: 10px; /* Example margin */
  /* Add more styling properties as needed */
}


 .deleteRowBtn {
  background-color:transparent ;
  font-size: 15px;
  color:#f44336;
  border-top: 1px solid #3c3cb8;
  border-bottom: 1px solid #3c3cb8;
  border-left: none;
  border-right: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}



.multiselect-container {
  width: 12%;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.multiselect-selected {
  border: 1px solid #3c3cb8;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  overflow: hidden;
}

.multiselect-options {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #3c3cb8;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 100%;
}

.multiselect-option {
  padding: 5px;
}

.multiselect-option:hover {
  background-color: #f0f0f0;
}





.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-container {
 
  position: absolute;
  top: 3%;
  left: 35%;
  transform: translateX(-50%);
  z-index: 999;
  width: 190px;
  
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  background-color: #fff;
  border: 2px solid #3c3cb8;
}



.dropdown-button {
  float: left;
  width: 100%;
  background: white;
  /* padding: 5px 12px; */
  
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.dropdown-label, .dropdown-quantity {
  float: left;
  left: 10px;
}

.dropdown-quantity {
  margin-left: 4px;
}

.fa-filter {
  float: right;
}

.dropdown-list {
  float: left;
  width: 100%;
  border: none;
  border-top: none;
  box-sizing: border-box;
  padding: 8px 0 0 8px ;
}

input[type="search"] {
  padding: 2px ;
  font-size: 12px;
  border: 2px solid #3c3cb8;
  border-radius: 5px;
}

ul {
  margin: -10px 0 5px 0  ;  
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  list-style-type: none;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
  left: -5%;
}