#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  border: 2px solid darkblue;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
/* image*/
.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: -20px;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 40px;
  height: 40px;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.custom-button button {
  background-color: white;
  color:black;
  font-weight: bold;
  font-size: 15px;
  top: 12px;
  right: 110px;
  width: 40px;
  border: 2px solid darkblue;
  position: fixed;
  border-radius: 5px;
  padding: 11px 12px;
}

/* for camaera popup */

video {
  width: 80%;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
  width: 54vh;
}

.slider {
  z-index: 9999;
  position: absolute;
  right: 50%;
}

/*geotag page css  */

body {
  overflow: hidden;
}
video {
  width: 40vh;
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
  width: 54vh;
}

/* for slider */

#output {
  top: 13%;
  /* right: 50%; */
  text-align: center;
  font-size: 13px;
  z-index: 9999;
  position: absolute;
  font-weight: bold;
}
#datetime-slider {
  top: 70px;
  left: 65%;
  transform: translateX(-50%);
  width: 200px;
  margin: 20px auto;
  z-index: 9999;
  position: fixed;

  right: -10%;
}
/* Style for the range input */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  /* background-color: #f1f1f1; */
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  position: relative;
}

/* Styling the ticks */
input[type="range"]::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background-color:rgb(51, 136, 255);;
  border-radius: 5px;
  z-index: -1; /* Ensure ticks are behind the slider */
}

/* Styling for the ticks themselves */
input[type="range"]::after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  /* background-color: red; */
  border-radius: 5px;
  z-index: -1; /* Ensure ticks are behind the slider */
}

/* Adjust the position and size of ticks based on the slider value */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px; /* Adjust the width of the ticks */
  height: 10px; /* Adjust the height of the ticks */
  /* background:red; */
  border-radius: 50%; /* Make it round */
  position: relative;
  z-index: 1; /* Ensure ticks are above the track */
}

input[type="range"]::-moz-range-thumb {
  width: 10px; /* Adjust the width of the ticks */
  height: 10px; /* Adjust the height of the ticks */
  /* background: red; */
  border-radius: 50%; /* Make it round */
  position: relative;
  z-index: 1; /* Ensure ticks are above the track */
}

.leaflet-popup-content {
  margin: 13px 24px 13px 20px;
  line-height: 1.3;
  margin-left: 25px;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
  font-weight: bold;
  /* margin: 5px; */
  /* margin-left: 30px; */
  /* left: 20px; */
}

/* capture image */

img {
  width: 300px;
}
#saveDataButton {
  background-color: green;
  border: none;
  margin: 5px;
  color: white;
  padding: 10px;
}
#editFeatureButton {
  background-color: green;
  border: none;
  margin: 5px;
  color: white;
  padding: 10px;
}
.leaflet-bar a.leaflet-disabled {
  /* cursor: default;
  background-color: #f4f4f4; */
  /* color: #bbb; */
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  width: 10px;
  height: 10px;
  background-color:red; /* Change the thumb color to blue */
  border-radius: 50%;
  cursor: pointer;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  background-clip: padding-box;
}
/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
} */

#map {
  width: 100%;

  background-color: #f0f0f0;
}

#controls {
  position:absolute;
  bottom: 0;
  top: 10px;
  left: 400px;
  width: 100%;
  background-color: #fff;
  /* padding: 10px; */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

#timeRange {
  width: 17%;
}

#timeLabel {
  margin-left: 10px;
}

#dataPoints {
  width:15%;
  height: 9px;
  position: absolute;
  left: 720px;
  z-index: 9999;
  top: 20px;
}

.dataPoint {
  position: absolute;
  background-color: red;
  width: 2px;
  height: 10px;
}
input[type="range"] {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 10px;
  /* background-color: darkcyan; */
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  position: relative;
  z-index: 9999;
  left: 700px;
}