#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  border: 2px solid darkblue;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
/* image*/
.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: -20px;
}
/* .custom-image {
  width: 100px !important;
} */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 40px;
  height: 40px;
}


.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  
}


/* for button map start */
.custom-button {
  position: absolute;
  /* top: 50%; */
  right: 50%;
  z-index: 1000;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid green;
  bottom: 12px;
  top: -50px;
  left: -100px;
}

.custom-button button {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
}
.custom-button1 {
  position: sticky;
  top: -50px;
  right: 10%;
  left: -110px;
  z-index: 1000;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid green;
}
.custom-button1 button {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

/* for camaera popup */

video {
  width: 80%;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
  width: 54vh;
}

.slider {
  z-index: 9999;
  position: absolute;
  right: 50%;
}

/*geotag page css  */

body {
  overflow: hidden;
}
video {
  width: 40vh;
}


.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
  width: 54vh;
}

/* for slider */



#output {
  top: 30%;
  /* right: 50%; */

  text-align: center;
  font-size: 20px;
  z-index: 9999;
  position: absolute;
}

#datetime-slider1 {
  top: 15%;
   /* right: -70%;  */
  z-index: 9999;
  position: absolute;
  text-align: center;
  font-size: 20px;
}

/* 
</style> */

/* for ticks on map */
/* Style for the range input */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  position: relative;
}

/* Styling the ticks */
input[type="range"]::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  z-index: -1; /* Ensure ticks are behind the slider */
}

/* Styling for the ticks themselves */
input[type="range"]::after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  z-index: -1; /* Ensure ticks are behind the slider */
}

/* Adjust the position and size of ticks based on the slider value */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px; /* Adjust the width of the ticks */
  height: 10px; /* Adjust the height of the ticks */
  background: #333;
  border-radius: 50%; /* Make it round */
  position: relative;
  z-index: 1; /* Ensure ticks are above the track */
}

input[type="range"]::-moz-range-thumb {
  width: 10px; /* Adjust the width of the ticks */
  height: 10px; /* Adjust the height of the ticks */
  background: #333;
  border-radius: 50%; /* Make it round */
  position: relative;
  z-index: 1; /* Ensure ticks are above the track */
}

.leaflet-popup-content {
  margin: 13px 24px 13px 20px;
  line-height: 1.3;
  margin-left: 25px;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
  font-weight: bold;
  /* margin: 5px; */
  /* margin-left: 30px; */
  /* left: 20px; */
}

/* capture image */

img{
  width: 300px;
}
#saveDataButton{
  background-color:green; 
  border:none; margin:5px;
  color:white; padding:10px;
}
#editFeatureButton{
  background-color: green;
    border: none;
    margin: 5px;
    color: white;
    padding: 10px;
}
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  /* color: #bbb; */
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  background-clip: padding-box;
  border: 2px solid darkblue;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: darkblue; /* Change the thumb color to blue */
  border-radius: 50%;
  cursor: pointer;
}
#datetime-slider {
  top: 20%;
  /* right: 50%; */
  width: 20%;
  margin: 20px auto;
  z-index: 9999;
  position: absolute;
}
.leaflet-touch .leaflet-control-layers,
      .leaflet-touch .leaflet-bar {
        border: 2px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;
        border: 2px solid darkblue;
      }