{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Basemap Example</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
 
</head>
<body>
    {% csrf_token %}
<div id="map"></div>

<!-- <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/libs/leaflet/leaflet.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>
